@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  text-align: center;
  font-size: 24px;
  max-width: 500px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

/** Импорт стилей шапки **/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

.navbar__address {
  display: flex;
  flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

/* Иморт стилей промо секции */
.promo {
  min-height: 590px;
  background-color: #f5f5f5;
}

.promo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.promo-content__img {
  margin-top: 50px;
}

.promo-items__title {
  font-size: 41px;
  color: #333333;
  line-height: 1.341;
  text-align: left;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
}

.promo-items__subtitle {
  font-size: 20px;
  color: #333333;
  margin-top: 27px;
}

.promo-items-adv {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.promo-items-adv__items {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.promo-items-adv__items .adv-text {
  margin-left: 30px;
  font-size: 14px;
  color: #333333;
  line-height: 1.714;
}

@media (max-width: 768px) {
  .promo-items__title {
    margin-top: 45px;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
  }
  .promo-items__subtitle {
    margin-top: 10px;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
  }
  .adv-text {
    margin-left: 15px;
  }
}

/* Иморт стилей offer секции */
.offer {
  background: url("../img/room-third-screen.png");
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  text-align: left;
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

@media (max-width: 1200px) {
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: none;
    background-color: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

/* Иморт стилей модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

/* Иморт стилей portfolio секции */
.portfolio {
  background-color: #f5f5f5;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
}

.portfolio__arrows:hover {
  cursor: pointer;
}

.slider__image {
  margin: auto;
}

/* Иморт стилей price секции */
.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin: auto;
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  margin-bottom: 62px;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.card:hover .card__image:before {
  opacity: 1;
  transition: 0.4s;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
}

.card__image__img {
  display: block;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  transition: 0.2s;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.specialist-subscr {
  margin-bottom: 58px;
}

.specialist-subscr__title {
  margin: auto;
  margin-bottom: 59px;
}

.specialist-subscr__subtitle {
  text-align: center;
}

.specialist-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.specialist__item {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialist__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 94px;
  border: 3px solid #ffd200;
  border-radius: 100%;
  position: relative;
  margin-bottom: 30px;
}

.specialist__img {
  display: block;
  margin: 0 auto;
}

.specialist__descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .card:last-child {
    margin-bottom: 75px;
  }
  .specialist-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .specialist__descr {
    margin-bottom: 30px;
  }
}

/* Иморт стилей orange секции */
.orange {
  background-color: #ffd200;
}

.orange__title {
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .orange__title {
    font-size: 18px;
  }
}

/* Иморт стилей brif секции */
.brif-block {
  display: flex;
}

.brif__interview {
  flex-basis: 50%;
}

.brif__form {
  flex-basis: 50%;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 50px;
  font-style: 22px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  font-style: 16px;
  display: block;
  margin-bottom: 94px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  margin-right: 30px;
  border-radius: 50%;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
}
/*# sourceMappingURL=style.css.map */